body{
  /* background-color: #FBFF80 !important; */
  background-image: url("/src/images/tim-mossholder-HCZ7Y1PGpho-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.MuiContainer-root {
  padding: 0 !important;
}