body{
  background-image: url("/src/images/tim-mossholder-HCZ7Y1PGpho-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.MuiContainer-root {
  padding: 0 !important;
}

/*Navigation*/

.nav-links{
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.nav-links:hover {
  color: black;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: right;
  gap: 20px;
}
/* Router ends */